*/.env
*/node_modules
*/bin
*/logs
*/tmp
*/dist
*/build
*/docs
*/DS_Store
*/buildlog/
**/doc/api/
**/ios/Flutter/.last_build_id
*dart_tool/
*/flutter-plugins
*/flutter-plugins-dependencies
*pub-cache/
*pub/
*/android/app/debug
*/android/app/profile
*/android/app/release
*codemagic.keystore
/backend/.env.docker
/backend/.env.staging